<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMANID"
        tools:targetApi="31">
        <activity
            android:name=".PhotoIdCard"
            android:exported="false" />
        <activity
            android:name=".Verify_identity"
            android:exported="false" />
        <activity
            android:name=".Forget_password"
            android:exported="false" />
        <activity
            android:name=".navigation_menu"
            android:exported="false" />
        <activity
            android:name=".SuccessfulLogin"
            android:exported="false" />
        <activity
            android:name=".fingerPrint_plus"
            android:exported="false" />
        <activity android:name=".getStarted_page2" />
        <activity android:name=".intro_option_page5" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".done_page9"
            android:exported="false" />
        <activity
            android:name=".signup_page"
            android:exported="false" />
        <activity
            android:name=".know_more_about_qhint"
            android:exported="false" />
        <activity
            android:name=".createPasssword_page8"
            android:exported="false" />
        <activity
            android:name=".Idnumber_page6"
            android:exported="false" />
        <activity
            android:name=".fingerPrint_page7"
            android:exported="false" />
        <activity
            android:name=".getStarted_page4"
            android:exported="false" />
        <activity
            android:name=".getStrated_page3"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>